/* Created with www.booktype.pro */
/* Theme 'Modern Report (Compact)' Version 0.2 update: 2017-03-27T18:37:45+02:00 */

@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ubuntu-mono';
    src: url('fonts/UbuntuMono-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu-mono';
    src: url('fonts/UbuntuMono-B.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu-mono';
    src: url('fonts/UbuntuMono-RI.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ubuntu-mono';
    src: url('fonts/UbuntuMono-BI.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'roboto-light';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-light';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-light';
    src: url('fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'roboto-light';
    src: url('fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
