/* Created with www.booktype.pro */
/* Theme 'Historical Fiction (Compact)' Version 0.1 update: 2017-03-27T18:37:44+02:00 */
/* START mpdf specific CSS */

/* Header ********************************************************************/
.header-text {
  font-family: "im_fell_dw_pica_pro"; 
  font-size: 0.8em; 
  border-bottom: 0pt solid black; 
}
.header-left {
  text-align: right;
  display: none;
}
.header-right {
  text-align: left;
  display: none;
}

/* Footer ********************************************************************/
.footer-text {
  font-family: "im_fell_dw_pica_pro"; 
  font-size: 1em; 
  border-top: 0pt solid black; 
}
.footer-left {
  text-align: center;
  display: block;
}
.footer-right {
  text-align: center;
  display: block;
}

/* TABLE *****************************************************************/
/* for caption styling see images section */
table {
  border-collapse: collapse;
  max-width: 100%;
  margin-top: 13.2pt; 
  margin-bottom: 13.2pt; 
}
th, td {
  border: 0.1mm solid #000000;
  padding: 0.6em 0.8em;
}


/* END mpdf specific CSS */
